/* lucasjobstraibizer mongodb+srv://lucasjobstraibizer:dGZbytvbv91aXLec@mapcar.u851k.mongodb.net/ / senha mongodb: dGZbytvbv91aXLec */
node_modules/
.env
http://localhost:3000/
https://interstellar-satellite-320802.postman.co/workspace/My-Workspace~01429be8-b521-4b97-85c2-28161db12511/request/create?requestId=8e52e942-84da-4742-b652-5ec2697c2938
https://dashboard.render.com/web/srv-cvf0fp9c1ekc73c0aqhg/deploys/dep-cvg21f0fnakc739t2fog
https://cloud.mongodb.com/v2/67ddc5851c554106d0a0ab0d#/security/network/accessList
https://www.remove.bg/pt-br/upload
https://www.canva.com/design/DAFV6Ck5NBw/AuWyu4-qfCamSQlJQWNUVg/edit
https://www.freepik.com/free-photos-vectors/automotive-security-illustration